.App[data-theme='light'] {
  --border: #363739;
  --text-default: #363739;
  --container-mid: #edece9;
  --container-back:  #f7f6f2;

}

.App[data-theme='dark'] {
  --border: #667069;
  --text-default: #d0c2a4;
  --container-back: #232a2f;
  --container-mid: #2b3339;
  --container-highlight:#3b4349;
  --container-fore: #313a3f;
  --container-shadow: #131a1f;
  --fill-color: #dbbc7a;
}

html {
  font-family: arial;
}

.App {
  text-align: center;
  color: var(--text-default);
  font-family: 'montserrat';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--container-back);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#audio-player {
  width: 80vw;
  background-color: none;
  margin-top: .5em;
}

.title {
  font-size: 1.5em;
  letter-spacing: .5em;
}